
.dropdown .content{
    display: block;
    position: relative;
    width: 100px;
    /* left: 100%; */
    border: 1px solid black;
     list-style-type: none;
     box-sizing: border-box;


}

.menu-list {
    position: relative;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    width: 100px;
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.menu-item {
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
    list-style-type: none;
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgb(216, 216, 216);
}

.btn {
    padding: 10px 20px;
    background-color: rgb(215, 215, 215);
    color: black;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: rgb(94, 94, 94);
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 20px 30px;
    border: 1px solid black;
}

